<template>
  <div class="blog-list">
    <template v-for="blog in blogList" :key="blog.id">
      <blog-list-item class="blog-list__item" :blog="blog" />
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { localStorageLogic } from "@/classes/global/localStorageLogic";
import { Blog } from "@/classes/blog/blog";
import BlogListItem from "@/components/components/blogListItem/blogListItem.vue";

export default defineComponent({
  name: "BlogList",
  components: { BlogListItem },
  setup() {
    const blogList = ref<Blog[]>([]);

    const initBlogList = () => {
      const blogsFromLocalStorage = localStorageLogic.getBlogs();

      if (blogsFromLocalStorage.length === 0) {
        for (let i = 0; i < 9; i++) {
          blogList.value.push(new Blog());
        }

        localStorageLogic.initBlogs(blogList.value);
        localStorageLogic.initBlogsReactions();
        return;
      }

      blogsFromLocalStorage.forEach((blog) => {
        blog = new Blog(blog);
      });

      blogList.value = blogsFromLocalStorage;
    };

    initBlogList();

    return { blogList };
  },
});
</script>

<style lang="scss">
.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

  .blog-list__item {
    padding: 20px;
  }
}
</style>
