<template>
  <div class="blog-list">
    <div class="blog-list__date">{{ blog.publicationDate }}</div>
    <div class="blog-list__image">
      <img :src="blog.img" />
    </div>
    <h2 class="blog-list__title">
      <router-link :to="{ name: 'BlogInformation', params: { id: blog.id } }">{{
        blog.title
      }}</router-link>
    </h2>
    <div class="blog-list__announce">{{ blog.announce }}</div>
    <reaction-block class="blog-list__reaction" :blogID="blog.id" />
  </div>
</template>

<script lang="ts">
import { Blog } from "@/classes/blog/blog";
import { defineComponent, PropType } from "vue";
import ReactionBlock from "@/components/components/reactionBlock/reactionBlock.vue";

export default defineComponent({
  name: "BlogListItem",
  components: {
    ReactionBlock,
  },
  props: {
    blog: {
      type: Object as PropType<Blog>,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.blog-list {
  .blog-list__date {
    color: gray;
    margin-bottom: 10px;
  }

  .blog-list__image {
    width: inherit;

    img {
      height: 150px;
      width: 100%;
    }
  }

  .blog-list__title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .blog-list__announce {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .blog-list__reaction {
    margin-top: 15px;
  }

  &:hover {
    .reaction__add {
      visibility: visible;
    }
  }
}
</style>
