<template>
  <div class="blog-information">
    <div class="blog-information__image">
      <img :src="blog.img" />
    </div>
    <h1 class="blog-information__title">
      {{ blog.title }}
    </h1>
    <div class="blog-information__date">
      {{ blog.publicationDate }}
    </div>
    <reaction-block class="blog-information__reactions" :blogID="blog.id" />
    <div class="blog-information__description">
      {{ blog.description }}
    </div>
  </div>
</template>

<script lang="ts">
import { Blog } from "@/classes/blog/blog";
import { defineComponent, PropType } from "vue";
import ReactionBlock from "../reactionBlock/reactionBlock.vue";

export default defineComponent({
  props: {
    blog: {
      type: Object as PropType<Blog>,
      required: true,
    },
  },
  components: { ReactionBlock },
  setup(props) {
    return {};
  },
});
</script>

<style lang="scss">
.blog-information {
  .blog-information__image {
    img {
      width: 100%;
      height: 400px;
    }
  }

  .blog-information__title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  .blog-information__date {
    color: gray;
    margin-bottom: 10px;
  }

  .blog-information__description {
    margin-top: 10px;
  }
}
</style>
