<template>
  <div class="blog">
    <blog-detail-information v-if="blog" :blog="blog" />
    <div class="blog__error" v-else>Блог не найден</div>
    <div class="blog__return">
      <router-link :to="{ name: 'BlogList' }">Назад</router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import BlogDetailInformation from "@/components/components/blogDetailInformation/blogDetailInformation.vue";
import { localStorageLogic } from "@/classes/global/localStorageLogic";
import { useRoute } from "vue-router";

export default defineComponent({
  setup() {
    const route = useRoute();

    const blog = ref(localStorageLogic.getBlog(route.params.id as string));
    return { blog };
  },
  components: { BlogDetailInformation },
});
</script>

<style lang="scss">
.blog {
  height: 100%;
  padding: 30px;

  .reaction__add {
    visibility: visible;
  }

  .blog__error {
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
  }

  .blog__return {
    margin-top: 30px;
    margin-left: 20px;
    a {
      color: gray;
      text-decoration: none;
    }
  }
}
</style>
