<template>
  <div class="reaction">
    <div class="reaction__active">
      <template v-for="reaction in reactionActiveList" :key="reaction.id">
        <div class="reaction__item" @click="increaseReactionCount(reaction.id)">
          <div class="reaction__icon">{{ reaction.value }}</div>
          <div class="reaction__count">{{ reaction.count }}</div>
        </div>
      </template>
    </div>
    <div class="reaction__add">
      <div class="reaction__icon">{{ REACTION_LIST[0].value }}</div>
      <div class="reaction__list">
        <template v-for="reaction in REACTION_LIST" :key="reaction.id">
          <div
            class="reaction__icon"
            @click="increaseReactionCount(reaction.id)"
          >
            {{ reaction.value }}
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { localStorageLogic } from "@/classes/global/localStorageLogic";
import { REACTION_LIST } from "@/helpers/const/reactionList";
import { ReactionIDs } from "@/types/reaction/reactionIds";
import { computed, ref } from "@vue/reactivity";
import { defineComponent } from "vue";

export default defineComponent({
  name: "ReactionBlock",
  props: {
    blogID: {
      required: true,
      type: String,
    },
  },
  setup(props) {
    const blogReactions = ref(localStorageLogic.getBlogReactions(props.blogID));

    const reactionActiveList = computed(() =>
      blogReactions.value.reaction.filter((reaction) => reaction.count !== 0)
    );

    const increaseReactionCount = (id: ReactionIDs) => {
      blogReactions.value.updateReaction(id);
      localStorageLogic.setBlogReactions(props.blogID, blogReactions.value);
    };

    return { reactionActiveList, REACTION_LIST, increaseReactionCount };
  },
});
</script>

<style lang="scss">
.reaction {
  display: flex;

  .reaction__active {
    flex: 1 1 0;
    display: flex;
    overflow: auto;
    margin-right: 10px;
  }

  .reaction__item {
    cursor: pointer;
    display: flex;
    padding: 5px;
  }

  .reaction__count {
    margin-left: 5px;
  }

  .reaction__list {
    visibility: hidden;
    position: absolute;
    background-color: lightblue;

    .reaction__icon {
      margin-top: 7px;
    }
  }

  .reaction__add {
    visibility: hidden;
    cursor: pointer;

    .reaction__icon {
      padding-left: 5px;
      padding-right: 5px;
    }

    &:hover {
      .reaction__list {
        visibility: visible;
      }
    }
  }
}
</style>
